/* .cart-view {
    min-height: 300px;
} */

.cart-product-link {
    text-decoration: none;
    color: #000;
}

.cart-product-link:hover {
    color: #000;
    text-decoration: underline;
}

.stickyBottomBar {
    /* position: fixed;
    bottom: 0; */
    margin-top: 40px;
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* .order-form {
    min-height: 300px;
} */

.products-list-order {
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}

#order-list {
    max-height: 115px; /* Giới hạn chiều cao ban đầu */
    overflow: hidden;
    transition: max-height 0.5s linear; /* Hiệu ứng trượt */
}

#show-more-btn {
    align-items: center;
    background-color: hsla(0,0%,100%,0);
    border: none;
    color: #637381;
    display: flex;
    gap: 5px;
    justify-content: center;
    text-decoration-line: underline;
}