.product-item {
    margin-bottom: 24px;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}

.product-item:hover {
    /* transform: translateY(-5px); */
    transform: scale(1.05);
    border: 1px solid #000;
}


.img-product {
    position: relative;
    cursor: pointer;
    transition: 0.2s all ease;
}

/* .img-product img:hover::before {
    transform: translateY(-10px);
} */

/* .img-product::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
} */

/* .img-product:hover::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
} */

/* .category-product-list {
    list-style: none;
    padding: 0;
}

.category-product-list .category-product-item {
    border-bottom: 1px solid #ccc;
} */

.category-product-list .category-product-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.category-product-list .category-product-item a {
    display: block;
    color: #000;
}

.category-product-list .category-product-item a:hover {
    opacity: 0.6;
}

